<h1><%= "#{@year}年#{@month}月" %></h1>

<div class= "income_expense_manthly_total">
  <p>収入合計: <%= @total_income_by_family %> 円</p>
  <p>支出合計: <%= @total_expense_by_family %> 円</p>
  
</div>

<div class="month_list">
  <table  border="1" align="center">
    <thead>
      <tr>
        <th width="120">日付</th>
        <th width="80">曜日</th>
        <% ExpenseCategory.where(id: 2..9).each do |category| %>
          <th width="80", class="variable_expense"><%= category.name %></th>
        <% end %>
        <!-- 固定費のカテゴリーを表示 -->
        <% ExpenseCategory.where(id: 10..16).each do |category| %>
          <th width="80", class="fixed_expense"><%= category.name %></th>
        <% end %>
        <% ExpenseCategory.where(id: 17).each do |category| %>
          <th width="80", class="saving_expense"><%= category.name %></th>  
        <% end %>
        <th width="100">金額</th>
        <th width="100">残額</th>
      </tr>
    </thead>
    <tbody>
      <% previous_day_balance = @total_income_by_family %>
      <% (1..31).each do |day| %>
        <% if Date.valid_date?(@year, @month, day) %>
          <% current_date = Date.new(@year, @month, day) %>
          <tr>
            <td align="center">
              <%= link_to blog_path(current_date, params: { date: "#{current_date.year}-#{current_date.month}-#{current_date.day}" }) do %>
                <%= "#{day}" %>日
              <% end %>
            </td>
            <td align="center">
              <% japanese_days = ["日", "月", "火", "水", "木", "金", "土"] %>
              <%= japanese_days[Date.new(@year, @month, day).wday]%>
              <!-- 日付に対応する曜日を表示 -->
            </td>
            <% total_price = 0 %>
            <% ExpenseCategory.where(id: 2..17).each do |category| %>
              <td align="center">
                <% if @expenses.present? %>
                  <% filtered_expenses = @expenses.where(date: "#{@year}-#{@month}-#{day}", expense_category_id: category.id) %>
                  <% price = filtered_expenses.sum(:price) %>
                  <% if price > 0 %>
                    <% total_price += price %>
                    <%= price %>円
                  <% end %>
                <% end %>
              </td>
            <% end %>
            <td align="right"><%= total_price %>円</td>
            <% total_expense = @expenses.where(date: "#{@year}-#{@month}-#{day}").sum(:price) %>
            <% daily_balance = previous_day_balance - total_expense %>
            <% previous_day_balance = daily_balance %>
            <td align="right">
              <%= daily_balance %>円
            </td>
            <% previous_day_balance = daily_balance %>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td align="center" , class="highlight-row">合計</td>
        <td class="highlight-row"></td>
        <% ExpenseCategory.where(id: 2..17).each do |category| %>
          <% total_price = @expenses.where(expense_category_id: category.id).sum(:price) %>
          <td align="center", class="highlight-row"><%= total_price %>円</td>
        <% end %>
        <td align="right", class="highlight-row">
          <%= @expenses.sum(:price) %>円
        </td>
        <td align="right", class="highlight-row">
          <% remaining_balance = @total_income_by_family - @expenses.sum(:price) %>
          <%= remaining_balance %>円
        </td>
      </tr>
      <tr>
        <td align="center">(前月の合計)</td>
        <td></td>
        <% ExpenseCategory.where(id: 2..17).each do |category| %>
          <td align="center"><%= @previous_month_category_totals[category.id] || 0 %>円</td>
        <% end %>
        <td align="right">
          <%= @previous_month_total_expense %>円
        </td>
      </tr>
    </tbody>
  </table>
</div>
