<div class="toppage">
  <h1 class="top"><%= current_user.family.name %>さん家の家計簿</h1>

  <div class="col-md-8">
    <%= month_calendar events: @blogs do |date, blogs| %>
      <%= link_to blog_path(date, params: { date: "#{date.year}-#{date.month}-#{date.day}" }) do %>
        <%= date.day %>
      <% end %>
      <br>
      <br>

      <% total_expense = @expenses_by_date[date]  %>
      <% if total_expense.present? %>  
        <div class="total_price">
          <%= total_expense %> 円
        </div>
      <% end %>
    <% end %>
  </div>
</div>