<!DOCTYPE html>
<html>
  <head>
    <title>Calender</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'header_styles' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <header class="header">
      <div class="heading">
        <h1 class="logo"><a href="/">sharing kakeibo </a></h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li class="nav-lists__list"><%= link_to '収入', new_income_path %></li>
          <li class="nav-lists__list"><%= link_to '支出', new_expense_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to current_user.nickname, "#", class: "nav-lists__list"  %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-lists__list" %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path, class: "nav-lists__list" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "nav-lists__list" %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>