<!DOCTYPE html>
<html>
  <head>
    <title>Calender</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Lobster&family=Parisienne&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'header_styles' %>
    <%= javascript_importmap_tags %>
    <script src="js/menu.js" defer></script>
  </head>

  <body class="body-bg">
     <header class="header">
      <div class="heading">
        <h1 class="logo"><a href="/">Share money</a></h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <nav>
            <button id="menu-open" class="btn-menu">
              <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <title>メニューを開く</title>
                <path clip-rule="evenodd" d="m4.25 8c0-.41421.33579-.75.75-.75h14c.4142 0 .75.33579.75.75s-.3358.75-.75.75h-14c-.41421 0-.75-.33579-.75-.75zm0 4c0-.4142.33579-.75.75-.75h14c.4142 0 .75.3358.75.75s-.3358.75-.75.75h-14c-.41421 0-.75-.3358-.75-.75zm.75 3.25c-.41421 0-.75.3358-.75.75s.33579.75.75.75h14c.4142 0 .75-.3358.75-.75s-.3358-.75-.75-.75z" fill-rule="evenodd"/>
              </svg>
            </button>
            <div id="menu-panel">
              <button id="menu-close" class="btn-menu">
                <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                  <title>メニューを閉じる</title>
                  <path clip-rule="evenodd" d="m7.53033 6.46967c-.29289-.29289-.76777-.29289-1.06066 0s-.29289.76777 0 1.06066l4.46963 4.46967-4.46963 4.4697c-.29289.2929-.29289.7677 0 1.0606s.76777.2929 1.06066 0l4.46967-4.4696 4.4697 4.4696c.2929.2929.7677.2929 1.0606 0s.2929-.7677 0-1.0606l-4.4696-4.4697 4.4696-4.46967c.2929-.29289.2929-.76777 0-1.06066s-.7677-.29289-1.0606 0l-4.4697 4.46963z" fill-rule="evenodd"/>
                </svg>
              </button>
              <ul class="menu-list">
                  <% if user_signed_in? %>
                    <li class="nav-lists__list"><%= link_to current_user.nickname, "#" %></li>
                    <li class="nav-lists__list"><%= link_to '収入', new_income_path %></li>
                    <li class="nav-lists__list"><%= link_to '支出', new_expense_path %></li>
                    <li class="nav-lists__list"><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %></li>
                  <% else %>
                    <li class="nav-lists__list"><%= link_to 'ログイン', new_user_session_path %></li>
                    <li class="nav-lists__list"><%= link_to '新規登録', new_user_registration_path %></li>
                  <% end %>
              </ul>
            </div>
          </nav>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer class="footer01">
      <div class="footer-container">
        <nav class="nav">
          <ul class="item">
            <li class="list">
              <a href="">ABOUT</a>
            </li>
            <li class="list">
              <a href="">SERVICE</a>
            </li>
            <li class="list">
              <a href="">PLANS</a>
            </li>
            <li class="list">
              <a href="">INFOMATION</a>
            </li>
            <li class="list">
              <a href="">CONTACT</a>
            </li>
          </ul>
        </nav>
      </div>
      <p class="copyright"><small>© 2023 Sample</small></p>
    </footer>
  </body>
</html>